<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBSchemesTestApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83493F891C973E5F00A37952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83493F9D1C973E5F00A37952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83493FA81C973E5F00A37952</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
